<div class="container">
  <!--ページタイトル-->
  <div class="row mt-4 pl-3">
    <div class="col-md-3">
      <h4>ゲーム新規登録</h4>
    </div>
    <div class="col-md-5">
    </div>
    <div class="col-md-4">
      <p>画像を入手したい方は
      <%= link_to "こちら", game_search_path %>
      から
      </p>
    </div>
  </div>

    <!--入力欄-->
    <%= form_with model: @game, url: games_path, method: :post do |f| %>

    <div class="row mt-5 d-flex justify-content-center">
      <label class="col-md-2 col-form-label">ゲーム画像</label>
      <div class="col-md-4">
        <% if @game_image_url.present? %>
          <%= image_tag @game_image_url %>
        <% else %>
          <%= image_tag 'no_image', size: "200×200" %>
        <% end %>
      </div>
    </div>

    <!--タイトル-->
    <div class="row mt-2 d-flex justify-content-center">
      <label for="title" class="col-md-2 col-form-label">タイトル</label>
      <div class="col-md-4">
        <%= f.text_field :title, class:"form-conrol", id:"title" %>
      </div>
    </div>

    <!--プレイ状況-->
    <div class="row mt-2 d-flex justify-content-center">
      <label for="play_conditon" class="col-md-2 col-form-label">プレイ状況</label>
      <div class="col-md-4 col-form-label">
        <%= f.select :play_condition,  Game.play_conditions.keys.map {|k| [I18n.t("enums.game.play_condition.#{k}"), k]}, include_blank: "選択してください" %>
      </div>
    </div>

    <!--ジャンル-->
    <div class="row mt-2 d-flex justify-content-center">
      <label for="genre" class="col-md-2 col-form-label">ジャンル</label>
      <div class="col-md-4 col-form-label">
        <%= f.collection_select :genre_id,  Genre.all, :id, :name, include_blank: "選択してください" %>
      </div>
    </div>

    <!--つぶやき-->
    <div class="row mt-2 d-flex justify-content-center">
      <label for="opinion" class="col-md-2 col-form-label">つぶやき</label>
      <div class="col-md-4">
        <%= f.text_area :opinion, class:"form-control", id:"opinion" %>
      </div>
    </div>

    <%= f.hidden_field :smallImageUrl, value: @game_sm_image_url ||= "" %>
    <%= f.hidden_field :largeImageUrl, value: @game_image_url ||= "" %>
    <!--新規登録ボタン-->
    <div class="row mt-3 d-flex justify-content-center">
      <!--ゲストユーザーのみ新規登録できない-->
      <% if current_user.nickname != "GuestUser" %>
        <%= f.submit "決定する", class:"btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>