<div class="container">

  <!--ページタイトル-->
  <div class="row mt-4 pl-3">
    <h4>ゲーム検索</h4>
  </div>

  <!--検索フォーム-->
  <div class="row mt-2 mb-4">

    <div class="col-md-4">
      <%= form_with url: game_search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, placeholder:"タイトルを入力" %>
          <%= f.submit "検索" %>
      <% end %>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <% if current_user.nickname != "GuestUser" %>
        <p>画像なしで投稿する場合は
        <%= link_to "こちら", new_game_path %>
        から
        </p>
      <% end %>
    </div>
  </div>

  <!--検索結果-->
  <h4>検索結果</h4>
  <% if @games.present? %>
    <%= render partial: 'game_list' %>
  <% end %>
</div>