<!--ユーザーページ-->
<!--フラッシュメッセージ-->
<div id="notice"><%= flash[:notice] %></div>

<div class="container">
  <div class="row mt-4 pl-3">
    <!--ページタイトル-->
    <div class="col-md-3">
      <h4>ゲーム詳細</h4>
    </div>
    <div class="col-md-7">
    </div>
    <!--削除ボタン-->
    <div class="col-md-2">
      <% if @user == current_user %>
        <%= link_to "削除する", game_path(@game), method: :delete, "data-confirm" => "投稿を削除しますか？", class:"btn btn-danger" %>
      <% end %>
    </div>
  </div>

    <!--エラーメッセージ(コメント)-->
    <% if @comment.errors.any? %>
    <div id="error expanation">
      <h5><%= @comment.errors.count %>件のエラーが発生しました</h5>
      <ul class="alert alert-danger" role="alert">
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--投稿ゲーム画像-->
  <div class="row mt-2 d-flex justify-content-center">
    <% if @game.largeImageUrl.present? %>
      <%= link_to (image_tag(@game.largeImageUrl)), @game.itemUrl %>
    <% else %>
      <%= image_tag asset_path('no_image.jpg'), size: "200×200" %>
    <% end %>
  </div>

  <div class="row mt-4 d-flex justify-content-center">
    <label class="col-md-2 col-form-label">投稿日</label>
    <div class="col-md-4 col-form-label">
      <%= @game.created_at.strftime('%Y/%m/%d %R:%S') %>
    </div>
  </div>

  <!--投稿主(退会されたユーザーは非表示)-->
  <div class="row mt-2 d-flex justify-content-center">
    <label class="col-md-2 col-form-label">投稿主</label>
    <div class="col-md-4 col-form-label">
      <% if @user.is_deleted == false %>
        <%= link_to user_path(@user) do %>
          <%= @user.nickname %>
        <% end %>
      <% else %>
        <p>このユーザーは退会されました</p>
      <% end %>
    </div>
  </div>

  <!--タイトル-->
  <div class="row mt-2 d-flex justify-content-center">
    <label class="col-md-2 col-form-label">ゲームタイトル</label>
    <div class="col-md-4 col-form-label">
      <%= @game.title %>
    </div>
  </div>

  <!--プレイ状況-->
  <div class="row mt-2 d-flex justify-content-center">
    <label class="col-md-2 col-form-label">プレイ状況</label>
    <div class="col-md-4 col-form-label">
      <%= I18n.t("enums.game.play_condition." + @game.play_condition) %>
    </div>
  </div>

  <!--ジャンル-->
  <div class="row mt-2 d-flex justify-content-center">
    <label class="col-md-2 col-form-label">ジャンル</label>
    <div class="col-md-4 col-form-label">
      <%= @game.genre.name %>
    </div>
  </div>

  <!--つぶやき-->
  <div class="row mt-2 d-flex justify-content-center">
    <label class="col-md-2 col-form-label">つぶやき</label>
    <div class="col-md-4 col-form-label">
      <%= @game.opinion %>
    </div>
  </div>

  <!--コメント-->
  <div class="row mt-3 d-flex justify-content-between">
    <div class="comment">
      <h4>コメント</h4>
    </div>
    <!--お気に入り登録/解除(ゲストユーザーは非表示)-->
    <% if current_user.nickname != "GuestUser" %>
      <div class="favorite">
        <% if @game.favorited_by?(current_user) %>
          <%= link_to "お気に入り解除する", game_favorites_path(@game), method: :delete, class:"btn btn-danger" %>
        <% else %>
          <%= link_to "お気に入り登録する", game_favorites_path(@game), method: :post, class:"btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <!--コメント入力(ゲストユーザーは非表示)-->
  <div class="row mt-3 d-flex justify-content-center">
    <% if current_user.nickname != "GuestUser" %>
      <%= form_with model: [@game, @comment] do |f| %>
        <%= f.text_area :comment, placeholder:"コメントを入力" %>
        <%= f.submit "送信", class:"btn btn-light" %>
      <% end %>
    <% end %>
  </div>

  <!--コメント数-->
  <div class="row mt-3">
    <p><%= @game.comments.count %> コメント</p>
  </div>

  <!--コメント-->
  <div class="row mt-2 d-flex justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th>投稿日</th>
          <th>投稿者</th>
          <th>コメント</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @game.comments.each do |comment| %>
          <tr>
            <th>
              <%= comment.created_at.strftime('%Y/%m/%d') %><br>
              <%= comment.created_at.strftime('%R:%S') %>
            </th>
            <th>
              <% if comment.user.is_deleted == false %>
                <%= link_to user_path(comment.user_id) do %>
                  <%= image_tag comment.user.get_profile_image(100, 100) %><br>
                  <%= comment.user.nickname %>
                <% end %>
              <% else %>
                <p>このユーザーは退会されました</p>
              <% end %>
            </th>
            <th>
              <% if comment.user.is_deleted == false %>
                <%= comment.comment %></th>
              <% else %>
                <p>非表示</p>
              <% end %>
            <th>
              <% if comment.user == current_user %>
                <%= link_to "削除する", game_comment_path(comment.game, comment), method: :delete, "data-confirm" => "コメントを削除しますか？", class:"btn btn-danger" %>
              <% end %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!--戻る、編集ボタン-->
  <div class="row my-3 d-flex justify-content-center">
    <!--ユーザー詳細へ戻る-->
    <%= link_to "戻る", user_path(@user), class:"btn btn-primary" %>
    <!--ログインユーザーのみ編集ページへ遷移-->
    <% if @user == current_user %>
      <%= link_to "編集する", edit_game_path(@game), class:"btn btn-success ml-5" %>
    <% end %>

  </div>
</div>