<!--管理者ページ-->
<div class="container">
  <!--ページタイトル-->
  <div class="row mt-4 pl-3">
    <div class="col-md-3">
      <h4>ゲーム詳細</h4>
    </div>
  </div>

  <!--投稿ゲーム画像-->
  <div class="row mt-2 d-flex justify-content-center">
    <% if @game.largeImageUrl.present? %>
      <%= image_tag @game.largeImageUrl %>
    <% else %>
      <%= image_tag 'no_image', size: "200×200" %>
    <% end %>
  </div>

  <div class="row mt-4 d-flex justify-content-center">
    <label class="col-md-2 col-form-label">投稿日</label>
    <div class="col-md-4 col-form-label">
      <%= @game.created_at.strftime('%Y/%m/%d %R:%S') %>
    </div>
  </div>

  <!--投稿主-->
  <div class="row mt-2 d-flex justify-content-center">
    <label class="col-md-2 col-form-label">投稿主</label>
    <div class="col-md-4 col-form-label">
      <%= link_to admin_user_path(@user) do %>
        <%= @user.nickname %>
      <% end %>
    </div>
  </div>

  <!--タイトル-->
  <div class="row mt-2 d-flex justify-content-center">
    <label class="col-md-2 col-form-label">ゲームタイトル</label>
    <div class="col-md-4 col-form-label">
      <%= @game.title %>
    </div>
  </div>

  <!--プレイ状況-->
  <div class="row mt-2 d-flex justify-content-center">
    <label class="col-md-2 col-form-label">プレイ状況</label>
    <div class="col-md-4 col-form-label">
      <%= I18n.t("enums.game.play_condition." + @game.play_condition) %>
    </div>
  </div>

  <!--ジャンル-->
  <div class="row mt-2 d-flex justify-content-center">
    <label class="col-md-2 col-form-label">ジャンル</label>
    <div class="col-md-4 col-form-label">
      <%= I18n.t("enums.game.genre." + @game.genre) %>
    </div>
  </div>

  <!--つぶやき-->
  <div class="row mt-2 d-flex justify-content-center">
    <label class="col-md-2 col-form-label">つぶやき</label>
    <div class="col-md-4 col-form-label">
      <%= @game.opinion %>
    </div>
  </div>

  <!--コメント-->
  <div class="row mt-3 pl-3">
    <div class="comment">
      <h4>コメント</h4>
    </div>
  </div>

  <!--コメント数-->
  <div class="row mt-3">
    <p><%= @game.comments.count %> コメント</p>
  </div>

  <!--コメント-->
  <div class="row mt-2 d-flex justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th>投稿日</th>
          <th>投稿者</th>
          <th>コメント</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @game.comments.each do |comment| %>
          <tr>
            <th>
              <%= comment.created_at.strftime('%Y/%m/%d') %><br>
              <%= comment.created_at.strftime('%R:%S') %>
            </th>
            <th>
              <%= link_to user_path(comment.user_id) do %>
                <%= image_tag comment.user.get_profile_image(100, 100) %><br>
                <%= comment.user.nickname %>
              <% end %>
            </th>
            <th><%= comment.comment %></th>
            <th>
              <%= link_to "削除する", admin_game_comment_path(comment.game, comment), method: :delete, "data-confirm" => "コメントを削除しますか？", class:"btn btn-danger" %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
