<!--管理者ページ-->
<div id="notice"><%= flash[:notice] %></div>
<div class="container">
  <div class="row mt-4 pl-3">
    <h4>ユーザ一覧</h4>
  </div>

  <div class="row mt-3 d-flex justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>退会ステータス</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.nickname %></td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted == true %>
                <p class="text-secondary">退会済み</p>
              <% else %>
                <p class="text-success">有効</p>
              <% end %>
            </td>
            <td><%= link_to "詳細", admin_user_path(user.id), class:"btn btn-success" %></td>
            <td>
              <% if user.is_deleted == false %>
                <%= link_to "停止", admin_user_withdraw_path(user.id), method: :patch, "data-confirm" => "このユーザーを利用停止しますか?", class:"btn btn-secondary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <!--ページネーション-->
    <%= paginate @users %>
  </div>
</div>
