<!--管理者ページ-->
<div class="container">
  <div class="row mt-4 pl-3">
    <h4>ユーザー詳細</h4>
  </div>

  <!--カード内にユーザー情報を表示-->
  <div class="card my-4 w-90 mx-auto shadow-lg">
    <div class="row mt-4 g-0">
      <!--プロフィール画像とプロフィール編集ボタン-->
      <div class="col-md-4 d-flex flex-column">
        <div class="image ml-4">
          <%= image_tag @user.get_profile_image(200, 200) %>
        </div>
      </div>

      <!--ユーザー情報-->
      <div class="col-md-8">
        <div class="card-body">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>名前</th>
                <th><%= @user.nickname %></th>
              </tr>
              <tr>
                <th>自己紹介</th>
                <th><%= @user.introduction %></th>
              </tr>
              <tr>
                <th>お気に入りゲーム作品</th>
                <th><%= @user.fav_game %></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

    <!--お気に入りゲーム-->
  <div class="row mt-4 d-flex justify-content-center">
    <h4>お気に入りゲーム作品</h4>
  </div>

  <!--お気に入り一覧-->
  <div class="row mt-3 d-flex justify-content-center">
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>ゲーム画像</th>
          <th>タイトル</th>
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favorite| %>
          <tr>
            <td>
              <% if favorite.game.smallImageUrl.present? %>
                <%= image_tag favorite.game.smallImageUrl %>
              <% else %>
                <%= image_tag asset_path('no_image.jpg'), size: "100×100" %>
              <% end %>
            </td>
            <td><%= favorite.game.title %></td>
            <td><%= favorite.game.genre.name %></td>
            <td><%= link_to "詳細", admin_game_path(favorite.game_id), class:"btn btn-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!--ゲームリスト-->
  <div class="row mt-4 d-flex justify-content-center">
    <h4>ゲームリスト</h4>
  </div>

  <div class="row mt-3 d-flex justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th>ゲーム画像</th>
          <th>タイトル</th>
          <th>プレイ状況</th>
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
          <tr>
            <!--画像が投稿されていたら表示、そうでない場合はno_image画像を表示-->
            <td>
              <% if game.smallImageUrl.present? %>
                <%= image_tag game.smallImageUrl %>
              <% else %>
                <%= image_tag 'no_image', size: "100×100" %>
              <% end %>
            </td>
            <td><%= game.title %></td>
            <td><%= I18n.t("enums.game.play_condition." + game.play_condition) %></td>
            <td><%= game.genre.name %></td>
            <td><%= link_to "詳細", admin_game_path(game.id), class:"btn btn-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!--ページネーション-->
    <%= paginate @games %>
  </div>
</div>
