<!--フラッシュメッセージ-->
<div id="notice"><%= flash[:notice] %></div>

<div class="container">
  <!--他ユーザーのみページタイトルを表示-->
  <div class="row mt-4 pl-3">
    <% if @user != current_user %>
      <h4>ユーザー情報</h4>
    <% end %>
  </div>

  <!--カード内にユーザー情報を表示-->
  <div class="card my-4 w-90 mx-auto shadow-lg">
    <div class="row mt-4 g-0">
      <!--プロフィール画像とプロフィール編集ボタン-->
      <div class="col-md-4 d-flex flex-column">
        <div class="image ml-4">
          <%= image_tag @user.get_profile_image(200, 200) %>
        </div>
        <!--ログインユーザーが他ユーザーのプロフィールを編集できないようにする-->
        <div class="link mt-4 ml-4 mb-3">
          <% if @user == current_user %>
            <%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-primary" %>
          <% end %>
        </div>
      </div>

      <!--ユーザー情報-->
      <div class="col-md-8">
        <div class="card-body">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>名前</th>
                <th><%= @user.nickname %></th>
              </tr>
              <tr>
                <th>自己紹介</th>
                <th><%= @user.introduction %></th>
              </tr>
              <tr>
                <th>お気に入りゲーム作品</th>
                <th><%= @user.fav_game %></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--投稿ゲーム一覧と新規投稿ボタン-->
  <div class="row mt-4 d-flex justify-content-end">
    <div class="col-md-5">
    <h4>ゲームリスト</h4>
    </div>
    <div class="col-md-2">
      <% if @user == current_user %>
        <%= link_to new_game_path do %>
          <i class="fas fa-plus"></i> 投稿する
        <% end %>
      <% end %>
    </div>
  </div>



</div>